<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Your Current List</h1>

      <ul class="list-group">

        <% items.forEach((item) => { %>

          <li class="list-group-item">
            <a href="/items/<%= item.id %>"> <%= item.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
