<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <div class="container">
        <div class="jumbotron">
      <h1>Your Current List</h1>

      <ul class="list-group">

        <a href="/lists/new" class="btn btn-success">New List</a>

        <% lists.forEach((list) => { %>

          <li class="list-group-item">
            <a href="/lists/<%= list.id %>"> <%= list.title %> </a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>

    </main>
  </body>
</html>
