<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <div class="container">
        <div class="jumbotron">
      <h1>New Item</h1>

      <form action="/lists/create" method="post">
        <div class="form-group">
          <label for="title">Item title</label>
          <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea rows="4" class="form-control" name="description" placeholder="Enter Description"></textarea>
        </div>
        <div class="form-group">
          <label for="body">key</label>
          <textarea rows="4" class="form-control" name="body" placeholder="key"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
